<div class="jumbotron">
      <div class="container">
        <h1>An app to help boots when their stuck in the mud.</h1>
        <h3>Goals for this site include:</h3>
        <ul class="big">
          <li>Get this div populated with useful shit!</li>
          <li>Help boots</li>
          <li>look good</li>
          <li>add a bunch of magik sprinkles</li>
          <li>cause, I can. == Super happy fun time! #--> true</li>
        </ul>
        <p><a class="btn btn-primary btn-lg" role="button">Learn More (stub) &raquo;</a></p>
      </div>
    </div>