

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav {
	margin-right: 25px;
}
.nav li {
	list-style-type: none;
	display: inline-block;
	float: right;
	
	padding: 3px;
}

/*header {
	background-color: black;
}

body {
	background-color: darkgray;
}

.form-group {
	width: 50%;
	margin: 35px;

}

.form-group label {
	color: black;
	text-align: left;
	padding: 5px;
	font-size: 1em;
}

.form-group .submit {
	margin: 20px;
}

.form-group label {
	margin-top: 30px;
	padding-top: 30px;
}

.form-group p {
	color: black;
	font-style: italic;
	text-align: center;

}

.form-group .range {
	width: 200px;
}

.editor {
	height: 300px;
}
















*/