<div class="container">
<h1>Close Issue:</h1>	
	<form action="/issues/close" method="post">
		<p>To close an issue,</p>
		Enter Issue ID: <input type="text" name="close_id">
		<br>
	 	<input type="submit" value="Close">
	</form>

	<form action="/issues" method="get">
	<input type="submit" value="CANCEL">
	</form>

	<%= erb :list_issues %>

</div>