<h1>Confirm Close Issue:</h1>

<% find_issue(session[:close_sid]) %>
<%= session[:close_sid] %>

Issue ID: <%= @issue.id %><br>Title: <%= @issue.issue_title %>

<form action=<%="/issues/#{@issue.id}"%> method="post">
	<input type="submit" value="Close Issue">	
</form>

<form action="/issues" method="get">
	<input type="submit" value="CANCEL">
</form>