<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
 

  <title></title>
</head>
<body>
  
  <header class="header">
    <a href="/reset"><h1>DBCoder</h1><h3>Stuck on</h3></a>
    <ul class="nav">
      
      <li><form class="input_form" action="/issues/close" method="get">
      <input type="submit" class="btn-default" value="Close Issue">
      </form></li>
      
      <li><form class="input_form" action="/issues/update" method="get">
      <input type="submit" class="btn-default" value="Update Issue">
      </form></li>
      
      <li><form class="input_form" action="/issues/list" method="get">
      <input type="submit" class="btn-default" value="List Issues">
      </form></li>
      
      <li><form class="input_form" action="/issues/new" method="get">
      <input type="submit" class="btn-default" value="Open Issue">
      </form></li>

    </ul>
  </header>

  <%= yield %>

</body>
</html>
<footer class="panel-footer">
  <p>A friendly app by <a href="mailto:BootCoder@gmail.com?Subject=BootHelper" target="_top">BootCoder</a></p>
</footer>










**********************************
old index.erb

<% all_issues %>

<%= erb :nav_elements %>

<%= erb :nav_buttons %>

<%= erb :view_issues if session[:list] %>

<%= erb :display_issue if session[:display_issue] %>

<%= erb :body_general if session[:stubbed] %>

<%= erb :new_issue if session[:create] %>

<%= erb :update_issue if session[:update] %>

<%= erb :update_issue_id if session[:update_id] %>

<%= erb :close_issue if session[:close] %>

<%= erb :confirm_close if session[:confirm_close] %>

<%= erb :list_view if session[:list_view] %>

<%= erb :display_center if session[:display_center] %>





*************************************************
display session data

<% session.each do |sess| %>
     <%= "<p>#{sess}</p>" %> 
    <% end %>



*************************************************









