


<div class="btn-group up-10">
    <button data-toggle="dropdown" src="/img/DBC-logo-text.png" class="btn-link">Menu <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="/issues/create">Open Issue</a></li>
        <li><a href="/issues/update/select">Update Issue</a></li>
        <li><a href="/issues">Sort Issues :STUB</a></li>
        <li class="divider"></li>
        <li><a href="/issues/close/select">Close Issue</a></li>
    </ul>
</div>
