  <form name="open_issue" class="form-group" action="/issues/new" method="post">
    
    <label class="label" for="issue_title">Issue Title:</label>
    <input type="text" name="issue_title" placeholder="required" value="<%= @params[:issue_title] %>">
    <% if @errors %>
    <span class="tomato"><%= @errors[:issue_title] %></span>
    <% end %>
    <br>
    <br>

    <label class="label" for="issue_language">Primary Language:</label>
    <input type="text" name="issue_language" placeholder="ruby, js, sinatra, ect" value="<%= @params[:issue_language] %>">
     <% if @errors %>
    <span class="tomato"><%= @errors[:issue_language] %></span>
    <% end %>
    <br>
    <br>
    
    <label class="label" for="priority">How fucked are you really:</label>
    <p class="range">Not Really <=> Mega fucked</p><input type="range" class="range" min="0" max="10" value="5" step="1" onchange="showValue(this.value)" /> 
    <p class="range">Current Value: <span id="range">5</span></p>
    <script type="text/javascript">
        function showValue(newValue)
        {
        document.getElementById("range").innerHTML=newValue;
        }
    </script>
    <br>
    <br>

    



    <label class="label" for="gist">Troubling Code:</label>
   
     <pre class="editor" data-editor-lang="js">
    /*
     * This is an Orion editor sample.
     */
    function() {
        var a = 'hi there!';
        window.console.log(a);
    }
    </pre>

    <br>
    <br>
  
    
    <div class="submit"><input type="submit" class="btn-primary" value="Create Issue"></div>

  </form>
<!-- 
    <script>#editor</script>
    <script>ace.edit("editor"</script>
    <script type="text/javascript">  var editor = ace.edit("editor");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
    <div id="editor">function foo(items) {
  var x = "All this is syntax highlighted";
  return x;
}
</div>
 -->

